@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: myfont;
    src: url(Game\ Of\ Squids.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #111111;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 60px;
    padding: 0 2%;
}
header a,
header p{
    color: #fff;
}
.sidebar-btn a{
    font-size: 24px;
}
.contact-btn a{
    border: 1px solid #fff;
    border-radius: 1px;
    font-size: 12px;
    padding: 5px 15px;
}

.hero{
    height: 90lvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    overflow: hidden;
}
.hero-info{
    position: relative;
}
.hero-info,
.hero-btn{
    color: #fff;
    padding-left: 8%;
}
.hero-info #hollow{
    font-family: "myFont";
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 22pc;
    font-weight: 200;
    line-height: 0;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: rgba(255,255,255, 0.125);
    z-index: -10;
}
.hero-info #main{
    font-size: 6pc;
    font-family: 'myFont';
    line-height: 100%;
}
.hero-info #add-text{
    font-size: 14px;
}
.hero-info #motto{
    padding: 15px 0 25px;
    font-family: 'myfont';
    font-size: 14px;
    font-weight: lighter;
    color: gray;
}
.hero-info a{
    border: 1px solid #fff;
    color: #fff;
    font-size: 10px;
    padding: 8px 20px;
}
.hero-board{
    width: 300px;
    height: auto;
    margin-right: 40px;
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 15px;
    overflow: hidden;
}
.glassy{
    background-color:  rgba(255,255,255, 0.06);
    backdrop-filter: blur(10px);
}

.wrapper-btns{
    display: flex;
}
.wrapper-btns button{
    width: 100%;
    height: 50px;
    font-size: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255,255,255, 0.06);
    font-family: 'Roboto Mono';
    cursor: pointer;
}
.wrapper-screen{
    padding: 40px 20px;
}
.wrapper-screen p{
    font-size: 12px;
    color: whitesmoke;
    font-family: 'Roboto Mono';
}
.hero .about-btn{
    width: 100%;
}
.hero .about-btn a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255,255,255, 0.1);
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto Mono';
}

/* About Section */
.about-content,
.about-content-btn{
    display: flex;
    margin:0 60px 0;
}
.about-head{
    display: flex;
}
.about-title h2{
    font-size: 5pc;
    font-family: 'myFont';
    color: #111111;
    background-color: #fff;
    line-height: 100%;
    white-space: nowrap;
}
.about-body{
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 20px;
    font-size: 12px;
    color: #fff;
}
.about-content-btn{
    justify-content: space-between;
    margin-top: 10px;
}
.about-content-btn .deco{
    width: 100%;
    height: 40px;
    background: repeating-linear-gradient( 45deg, transparent 0px, transparent 20px, white 20px, white 40px);
}
.about-content-btn .btn{
    display: flex;
    place-content: end;
    width: 150px;
}
.about-content-btn .btn a{
    border: 1px solid #fff;
    color: #fff;
    font-size: 10px;
    padding: 12px 20px;
}